*{margin:0px; padding:0px; box-sizing: border-box;font-family: 'Titillium Web', sans-serif }

body{
    background:rgb(3, 51, 70) !important;
    display:flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    width:100vw;
}
.container{
    background-color: rgb(255, 255, 255);
    width:calc(100vw - 70vw);
    max-width:100%;
    border-radius:10px;
}
.header{
    background-color: rgba(115, 230, 121, 0.7);
    padding:15px 0px;
}
.header h2{
    text-align:center;
    color:#222;
    text-transform:uppercase;
    font-size: 24px;
}
form{
    padding:20px;
}
.form-control{
    margin-bottom:25px;
    position:relative;
}
.form-control label{
    display:inline-block;
    font-size: 13px;
}
.form-control input{
    width:100%;
    border: 2px solid #f0f0f0;
    font-size: 14px;
    padding:8px;
    display:block;
    border-radius:5px;
}
.form-control input:focus{
    outline:none;
    border:2px solid #777;
}
.form-control.success input{
    border-color:#2ecc71;
}
.form-control.error input{
    border-color:#e74c3c;
}
.form-control i{
    position:absolute;
    right:10px;
    top:28px;
    visibility:hidden;
}
.form-control small{
    color:#e74c3c;
    visibility:hidden;
    position:absolute;
}
.form-control.success i.fa-check-circle{
    color:#2ecc71;
    visibility:visible;
}
.form-control.error i.fa-exclamation-circle{
    color:#e74c3c;
    visibility:visible;
}
.form-control.error small{
     visibility:visible;
}
.btn{
    background-color:#18dcff;
    border-radius:5px;
    border:none;
    outline:none;
    width:100%;
    display:block;
    margin-top:20px;
    text-transform: uppercase;
    font-weight: bold;
    padding:10px 0px;
    font-size: 16px;
    transition:all 1s;
    cursor: pointer;
}